.breadcrumb-menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  color: #6c757d;
  font-size: 1rem;
}

.breadcrumb-menu {
    z-index: 1003;
    align-items: center;
    justify-items: center;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.breadcrumb-report-name {
  color: #6c757d;
  font-size: 1rem;
}

.breadcrumb-report-name+.breadcrumb-menu-btn::before {
  font-size: 1rem;
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}

.pagination-searchbox {
    padding: 4px 8px;
    display: block;
    width: 70%;
    padding: .375rem .75rem;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: .25rem;
    border: none;
}

.breadcrumb-menu ul {
    padding: 0;
    margin: .125rem 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breadcrumb-menu li {
    align-items: center;
    justify-items: center;
    background-color: white;
    padding-left: 0px;
    height: 30px;
    list-style-type: none;
    font-size: medium;
  }

.breadcrumb-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 20px;
}

  .breadcrumb-menu li:hover {
    background-color: rgb(243, 243, 243)
  }

  .breadcrumb-menu li[data-state="checked"] {
    background-color: rgb(0, 123, 255);
    color: white;
  }