body {
    -webkit-print-color-adjust:exact;
}

.sym {
    cursor: pointer;
}

.fixed-table-body {
    overflow: visible !important;
}

.table-container {
    display: none;
    font-size: 0.8rem;
}

.linkout-btn {
    font-size: 0.8rem;
    white-space: nowrap;
    text-align: right;
}

.loading {
    height: 100%;
    padding-top: 25%;
}

.active-row {
    border-top: 2px solid #6ea8fe !important;
    border-bottom: 2px solid #6ea8fe;
}

th {
    white-space: nowrap;
    height: 150px;
    border-top: 0 !important;
    overflow: visible;
}

#table {
    max-width: 100%;
    width: auto;
}

.bootstrap-table {
    margin: auto !important;
    width: fit-content !important;
}

td {
    position: relative;
}

.table td,
.table th {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0.5rem;
    /* Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=688556 see https://github.com/koesterlab/datavzrd/issues/144 */
    background-clip: padding-box;
}

.table td.plotcell {
    padding: 0;
}

#pagination {
    padding-top: 0.5rem;
    display: none;
}

th .th-inner {
    transform: translate(-10px, 30px) rotate(-45deg);
    width: 1em;
    overflow: visible !important;
    transform-origin: top left;
}

#vis-container {
    height: calc(100vh - 200px)
}

.fa {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 100%;
}

.fa-minus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>');
}

.fa-plus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
}

.num-cell {
    white-space: nowrap;
}

.form-control {
    height: 40px;
    border: none !important;
    margin-bottom: 10px;
    margin-left: 2px;
    width: 5em;
}

.filter-control {
    padding-bottom: 2px;
}

.fixed-table-container {
    border: none !important;
}

.filter-brush-container {
    height: 48px;
    position: relative;
}

.no-labels {
    position: absolute;
    top: 12px;
}

.card {
    margin: 0.5em;
}