.sym {
    cursor: pointer;
}

.table-container {
    display: none;
}

.loading {
    height: 100%;
    padding-top: 25%;
}

.active-row {
    background: lightgray !important;
}

th {
    white-space: nowrap;
    height: 150px;
    border-top: 0 !important;
    overflow: visible;
}

#table {
    max-width: 90%;
}

td:hover {
    background: lightgray
}

.btn-sm {
    position: absolute;
    top: 3px;
    right: 3px;
    display: none
}

td:hover .btn-sm {
    display: table
}

td {
    position: relative
}

td.plotcell {
    padding: 0;
}

th .th-inner {
    transform: translate(-10px, 30px) rotate(-45deg);
    width: 1em;
    overflow: visible !important;
    transform-origin: top left;
}