<!doctype html>
<html lang="en">
<head>
    <title>datavzrd report</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-table-fixed-columns.min.css">
    <link rel="stylesheet" type="text/css" href="../static/datavzrd.css">
</head>

<body>
<script src="../static/jquery.min.js"></script>
<script src="../static/bootstrap.bundle.min.js"></script>
<script src="../static/bootstrap-table.min.js"></script>
<script src="../static/bootstrap-table-fixed-columns.min.js"></script>
<script src="../static/vega.min.js"></script>
<script src="../static/vega-lite.min.js"></script>
<script src="../static/vega-embed.min.js"></script>
<script src="../static/lz-string.min.js"></script>
<script src="../static/showdown.min.js"></script>
<script src="table.js"></script>


<div id="page-container">
    <div id="content-wrap">
        <nav class="navbar navbar-expand navbar-light navbar-top">
            <div class="collapse navbar-collapse" id="navbarText2">
                <ol class="navbar-nav mr-auto breadcrumb">
                    {% if report_name %}<li class="breadcrumb-item"><div>{{ report_name }}</div></li>{% endif %}
                    <li class="breadcrumb-item">
                        <select id="view-selection" title="{{ name }}" data-width="fit" onchange="location = this.value;" data-live-search-placeholder="Filter..." data-dropdown-align-right="true" class="selectpicker" data-style="select-view" data-live-search="true">
                            {% if default_view %}
                            <option value="../{{ default_view }}/index_1.html">{{ default_view }}</option>
                            {% endif %}
                            {% for table in tables | sort %}
                            <option value="../{{ table }}/index_1.html">{{ table }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ol>
            </div>
        </nav>
        <div class="container">
            <div class="row" style="height: calc(100vh - 190px);">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <h4>No data</h4>
                </div>
            </div>
        </div>
        </div>
    <footer class="footer">
        <nav class="navbar navbar-expand navbar-light navbar-top">
            <a class="navbar-brand" href="#">datavzrd</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
                    </li>
                </ul>
                <span class="navbar-text">
                        created {{ time }}
                    </span>
            </div>
        </nav>
    </footer>
</div>
</body>
</html>
