<!doctype html>
<html lang="en">
<head>
    <title>datavzrd report</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../static/datavzrd.css">
</head>

<body>
<script src="../static/jquery.min.js"></script>
<script src="../static/bootstrap.bundle.min.js"></script>
<script src="../static/bootstrap-table.min.js"></script>
<script src="../static/bootstrap-select.min.js"></script>
<script src="../static/vega.min.js"></script>
<script src="../static/vega-lite.min.js"></script>
<script src="../static/vega-embed.min.js"></script>
<script src="../static/lz-string.min.js"></script>
<script src="../static/showdown.min.js"></script>
{% if aux_libraries %}
{% for library in aux_libraries %}
<script src="{{ library }}"></script>
{% endfor %}
{% endif %}

<div id="page-container">
    <div id="content-wrap">
        <nav class="navbar navbar-expand navbar-light navbar-top">
            <div class="collapse navbar-collapse" id="navbarText2">
                <ol class="navbar-nav mr-auto breadcrumb">
                    {% if report_name %}<li class="breadcrumb-item"><div>{{ report_name }}</div></li>{% endif %}
                    <li class="breadcrumb-item">
                        <select id="view-selection" title="{{ name }}" data-width="fit" onchange="location = this.value;" data-live-search-placeholder="Filter..." data-dropdown-align-right="true" class="selectpicker" data-style="select-view" data-live-search="true">
                            {% if default_view %}
                            <option value="../{{ default_view }}/index_1.html">{{ default_view }}</option>
                            {% endif %}
                            {% for table in tables | sort %}
                            <option value="../{{ table }}/index_1.html">{{ table }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ol>
                <span class="pull-right">
                    <span data-toggle="tooltip" data-placement="left" title="Download Excel Sheet"><button class="btn btn-outline-secondary" id="btnExcel" onclick="window.location='../data.xlsx'">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                            <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </button></span>
                    {% if description %}
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                        </button>
                    </div>
                    {% endif %}
                </span>
            </div>
        </nav>
        <div class="container-fluid">
            {% if description %}
            <script>
                $(document).ready(function() {
                    var innerDescription = document.getElementById('innerDescription');
                    var converter = new showdown.Converter();
                    converter.setFlavor('github');
                    innerDescription.innerHTML = converter.makeHtml(innerDescription.dataset.markdown);
                });
            </script>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                    <div class="collapse" id="collapseDescription">
                        <div class="card card-body" id="innerDescription" data-markdown="{{ description | escape }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <script>
            var data = {{ data | safe }};
            {{ script | safe}}
            </script>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center" id="canvas"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <nav class="navbar navbar-expand navbar-light navbar-top">
            <a class="navbar-brand" href="#">datavzrd</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
                    </li>
                </ul>
                <span class="navbar-text">
                        created {{ time }}
                    </span>
            </div>
        </nav>
    </footer>
</div>
</body>
</html>
