<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datavzrd</title>
</head>
<body>
<script src="./static/bundle.js"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const viewParam = urlParams.get('view');
    const version = '{{ version }}';
    const name = '{{ name }}';
    const views = {{ views | json_encode}};
    const table = {{ table | json_encode }};
    let redirectUrl = viewParam ? `${viewParam}/index_1.html` : `${table}/index_1.html`;
    urlParams.delete('view');
    const remainingParams = urlParams.toString();
    if (remainingParams) redirectUrl += `?${remainingParams}`;
    if (table || viewParam) {
        window.location.href = redirectUrl;
    } else {
        datavzrd.landing_page();
    }
</script>
</body>
</html>
