<!doctype html>
<html lang="en">
<head>
    <title>datavzrd report</title>
    <meta charset="UTF-8">
</head>

<body>
<script src="../static/bundle.js"></script>

<div id="page-container">
    <div id="content-wrap">
        <div class="fixed-top">
            <nav class="navbar navbar-expand navbar-light navbar-top">
                <div class="collapse navbar-collapse" id="navbarText2">
                    <ol class="navbar-nav mr-auto breadcrumb">
                        {% if report_name %}<li class="breadcrumb-item"><div>{{ report_name }}</div></li>{% endif %}
                        <li class="breadcrumb-item">
                            <select id="view-selection" title="{{ name }}" data-width="fit" onchange="location = this.value;" data-live-search-placeholder="Filter..." class="selectpicker" data-style="select-view" data-live-search="true">
                                {% if default_view %}
                                <option value="../{{ default_view }}/index_1.html" data-content="{{ default_view }} {% if view_sizes[default_view] %}<span class='badge badge-light'>{{ view_sizes[default_view] }} rows</span>{% endif %}">{{ default_view }}</option>
                                {% endif %}
                                {% for table in tables | sort %}
                                <option value="../{{ table }}/index_1.html" data-content="{{ table }} {% if view_sizes[table] %}<span class='badge badge-light'>{{ view_sizes[table] }} rows</span>{% endif %}">{{ table }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ol>
                </div>
                {% if description %}
                <div id="innerDescription">{{ description | escape }}</div>
                {% endif %}
                <span class="pull-right">
                    <div class="sidebar-menu" id="sidebar">
                        <input type="checkbox" id="menu-toggle" class="menu-toggle">
                        <label for="menu-toggle" class="menu-btn">☰</label>
                        <div class="sidebar-menu-card" id="sidebar-card">
                            <ul class="list-group list-group-flush" id="sidebar-list">
                                {% if has_excel_sheet %}
                                <li class="sidebar-btn" id="btnExcel" onclick="window.location='../data.xlsx'">Download excel sheet</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <button class="navbar-toggler" style="display: block !important;" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </span>
            </nav>
        </div>
        <div class="container-fluid">
        <div class="plot-container">
            <div class="col-md-12 d-flex justify-content-center" id="vis-container">
                <div class="mt-auto mb-auto ml-auto mr-auto" id="vis"></div>
                <script>
                    const specs = {{ specs | safe }};
                    {% if data %}
                    const data = {{ data | safe }};
                    datavzrd.load_table(specs, data, false);
                    {% endif %}
                    {% if datasets %}
                    const data = {{ datasets | safe }};
                    datavzrd.load_table(specs, data, true);
                    {% endif %}
                </script>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Error when calling custom function for column <b id="error-column"></b> (please fix the function definition in the datavzrd config):</p>
                    <pre id="error-modal-text"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <nav class="bottom-footer">
            <a class="bottom-footer-brand" href="#">datavzrd</a>
            <div class="bottom-footer-option-menu" id="navbarText">
                <ul class="bottom-footer-options">
                    <li class="bottom-footer-option">
                        <a class="bottom-footer-option-link" href="https://github.com/datavzrd/datavzrd/blob/master/CHANGELOG.md">{{ version }}</a>
                    </li>
                    <li class="bottom-footer-option">
                        <a class="bottom-footer-option-link" href="https://github.com/datavzrd/datavzrd">github</a>
                    </li>
                </ul>
                <span class="bottom-footer-created-time">
                        created {{ time }}
                    </span>
            </div>
        </nav>
    </footer>
</div>
</body>
</html>
