<!doctype html>
<html lang="en">
<head>
    <title>datavzrd report</title>
    <meta charset="UTF-8">
</head>

<body>
<script src="../static/bundle.js"></script>
                <script>

                    const tables = {{ tables | json_encode() | safe}};
                    const default_view = `{{ default_view | safe }}`
                    const view_sizes = {
                        {% for table, size in view_sizes %}
                        "{{ table }}": "{{ size }}",
                        {% endfor %}
                    }

                    const config = {
                        tables: tables.concat(default_view ? [default_view]: []),
                        description: `{{ description | safe }}`,
                        report_name: `{{ report_name | safe }}`,
                        title: `{{ name | safe }}`,
                        time: `{{ time | safe }}`,
                        view_sizes: view_sizes
                    }
                    
                    const description = `{{ description | safe }}`
                    const specs = {{ specs | safe }};
                    {% if data %}
                    const data = {{ data | safe }};
                    datavzrd.load_plot(specs, data, false);
                    {% endif %}
                    {% if datasets %}
                    const data = {{ datasets | safe }};
                    datavzrd.load_plot(specs, data, true);
                    {% endif %}
                </script>
</body>
</html>
