<!doctype html>
<html lang="en">
<head>
    <title>datavzrd report</title>
    <meta charset="UTF-8">
</head>

<body>
<script src="config.js"></script>
<script src="functions.js"></script>
<script src="../static/bundle.js"></script>
{% if is_single_page %}<script src="heatmap.js"></script>{% endif %}
<script src="plots/plots.js"></script>
<script src="data/data_{{ current_page }}.js"></script>

<script>
    const CURRENT_PAGE = {{ current_page }};
    datavzrd.load();
</script>

<div class="collapse" id="sidebar">
    <div class="card" id="sidebar-card">
        <ul class="list-group list-group-flush" id="sidebar-list">
            {% if is_single_page %}<li class="list-group-item sidebar-btn" id="btnHeatmap" data-toggle="modal" data-target="#heatmap-plot-modal">Show as plot</li>{% endif %}
            {% if has_excel_sheet %}<li class="list-group-item sidebar-btn" id="btnExcel" onclick="window.location='../data.xlsx'">Download excel sheet</li>{% endif %}
            {% if description %}<li class="list-group-item sidebar-btn" id="markdown-btn" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">Show description</li>{% endif %}
            {% if is_single_page %}<li class="list-group-item sidebar-btn" onclick="datavzrd.downloadCSV()">Download CSV</li>{% endif %}
            <li class="list-group-item sidebar-btn" id="toggleLineNumbers" onclick="datavzrd.toggle_line_numbers()">Show/Hide Line Numbers</li>
        </ul>
    </div>
</div>

<div id="page-container">
    <div id="content-wrap">
        <div class="fixed-top">
            <nav class="navbar navbar-expand navbar-light navbar-top">
                <div class="collapse navbar-collapse" id="navbarText2">
                    <ol class="navbar-nav mr-auto breadcrumb">
                        {% if report_name %}<li class="breadcrumb-item"><div>{{ report_name }}</div></li>{% endif %}
                        <li class="breadcrumb-item">
                            <select id="view-selection" title="{{ name }}" data-width="fit" onchange="location = this.value;" data-live-search-placeholder="Filter..." class="selectpicker" data-style="select-view" data-live-search="true">
                                {% if default_view %}
                                <option value="../{{ default_view }}/index_1.html" data-content="{{ default_view }} {% if view_sizes[default_view] %}<span class='badge badge-light'>{{ view_sizes[default_view] }}</span>{% endif %}">{{ default_view }}</option>
                                {% endif %}
                                {% for table in tables | sort %}
                                <option value="../{{ table }}/index_1.html" data-content="{{ table }} {% if view_sizes[table] %}<span class='badge badge-light'>{{ view_sizes[table] }}</span>{% endif %}">{{ table }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ol>
                </div>
                <span class="pull-right">
                    <button class="navbar-toggler nav-btn" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </span>
            </nav>
        </div>
        <div class="container-fluid">
            {% if description %}
            <div class="row description-box">
                <div class="col-md-12">
                    <div class="collapse show" id="collapseDescription">
                        <div class="card card-body description-card-body">
                            <button id="close-description" type="button" data-toggle="collapse" data-target="#collapseDescription" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div id="innerDescription" data-markdown="{{ description | escape }}"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-md-12 loading text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="table-container" class="col-md-12 table-container">
                    <table id="table" class="table" data-classes="table">
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                {% if pages > 1 %}
                <div id="pagination">
                    <nav aria-label="page navigation">
                        <ul class="pagination justify-content-center">
                            {% if current_page > 1 %}
                            {% if current_page != 2 %}
                            <li class="page-item"><a class="page-link" href="index_1.html">First</a></li>
                            <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                            {% endif %}
                            <li class="page-item"><a class="page-link" href="index_{{ current_page - 1 }}.html">{{  current_page - 1 }}</a></li>
                            {% endif %}
                            <li class="page-item active"><a class="page-link" href="index_{{ current_page }}.html">{{  current_page  }}</a></li>
                            {% if current_page < pages %}
                            <li class="page-item"><a class="page-link" href="index_{{ current_page + 1 }}.html">{{  current_page + 1 }}</a></li>
                            {% if current_page != (pages - 1) %}
                            <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                            <li class="page-item"><a class="page-link" href="index_{{ pages }}.html">Last</a></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
                </div>
            </div>
            <div id="modal-container"></div>
        </div>
    </div>
    <footer class="footer">
        <nav class="navbar navbar-expand navbar-light navbar-top">
            <a class="navbar-brand" href="#">datavzrd</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="datavzrd-version" href="https://github.com/datavzrd/datavzrd/blob/master/CHANGELOG.md">{{ version }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/datavzrd/datavzrd">github</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    created {{ time }}
                </span>
            </div>
        </nav>
    </footer>
</div>
</body>
</html>
