<!doctype html>
<html lang="en">
<head>
    <title>datavzrd report</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-table-fixed-columns.min.css">
    <link rel="stylesheet" type="text/css" href="../static/datavzrd.css">
</head>

<body>
<script src="../static/jquery.min.js"></script>
<script src="../static/bootstrap.bundle.min.js"></script>
<script src="../static/bootstrap-table.min.js"></script>
<script src="../static/bootstrap-table-fixed-columns.min.js"></script>
<script src="../static/bootstrap-table-filter-control.min.js"></script>
<script src="../static/vega.min.js"></script>
<script src="../static/vega-lite.min.js"></script>
<script src="../static/vega-embed.min.js"></script>
<script src="../static/lz-string.min.js"></script>
<script src="../static/showdown.min.js"></script>
<script src="table.js"></script>
{% for title in titles %}
<script src="plots/plot_{{ loop.index0 }}.js"></script>{% endfor %}

<script>
    const data = {{ data | safe }};
    const linkouts = {{ linkouts | safe }};
</script>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">datavzrd</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools/blob/master/CHANGELOG.md">{{ version }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/rust-bio/rust-bio-tools">github</a>
            </li>
        </ul>
        <span class="navbar-text">
            created {{ time }}
        </span>
    </div>
</nav>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarText2">
        <ul class="navbar-nav mr-auto">
            <li><a href="index_{{ current_page }}.html">{{ name }}</a></li>
        </ul>
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><div>{{ report_name }}</div></li>
        </ul>
        <span class="pull-right">
            {% if description %}
            <div class="btn-group">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </button>
            </div>
            {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-search="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                views
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if default_view %}
                    <a class="dropdown-item" href="../{{ default_view }}/index_1.html">{{ default_view }}</a>
                    {% endif %}
                    {% for table in tables | sort %}
                    <a class="dropdown-item" href="../{{ table }}/index_1.html">{{ table }}</a>
                    {% endfor %}
                </div>
            </div>
        </span>
    </div>
</nav>
<div class="container-fluid">
    {% if description %}
    <script>$(document).ready(function() {renderMarkdownDescription();});</script>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <div class="collapse" id="collapseDescription">
                <div class="card card-body" id="innerDescription" data-markdown="{{ description | escape }}">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-12 loading text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-md-12 table-container" style="margin-top: 15px;">
            <table id="table" class="table" data-classes="table">
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
        {% if pages > 1 %}
        <div id="pagination">
            <nav aria-label="page navigation">
                <ul class="pagination justify-content-center">
                    {% if current_page > 1 %}
                    {% if current_page != 2 %}
                    <li class="page-item"><a class="page-link" href="index_1.html">First</a></li>
                    <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="index_{{ current_page - 1 }}.html">{{  current_page - 1 }}</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="index_{{ current_page }}.html">{{  current_page  }}</a></li>
                    {% if current_page < pages %}
                    <li class="page-item"><a class="page-link" href="index_{{ current_page + 1 }}.html">{{  current_page + 1 }}</a></li>
                    {% if current_page != (pages - 1) %}
                    <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                    <li class="page-item"><a class="page-link" href="index_{{ pages }}.html">Last</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
        </div>
    </div>
    <!-- Modal -->
    {% for title in titles %}
    <div class="modal fade" id="modal_{{ loop.index0 }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="plot_{{ loop.index0 }}" style="width: 100%; height: 300px; border:none;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="modal fade" id="search" tabindex="-1" role="dialog" aria-hidden="true" data-focus="false">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="search-iframe" src="" frameBorder="0" style="width: 100%; height: min(530px, 50vh)"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
