.topRightMenu {
    position: fixed;
    top: 8px;
    right: 8px;
    background-color: transparent;
    color: gray;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    z-index: 1000;
}

.sidebar {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(33, 37, 41, 1);
  right: -50px;
  box-sizing: border-box;
  width: 200px;
  height: auto;
  padding-left: 0px;
  border: 1px solid rgba(0,0,0,0.1);
  max-height: 200;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform-origin: top;
  z-index: 1001;
}
.sidebar.open {
  max-height: 300px;
}

.sidebar.closed {
  max-height: 0px;
}

.sidebar-btn {
  border: 1px solid rgba(96, 29, 29, 0.1);
  background-color: rgba( 255, 255, 255, .7);
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 1000;
}

.sidebar-btn:hover {
  background-color: rgba(203,203,203,0.75);
  cursor: pointer;
}

.sidebar:focus {
  outline: none;
}

[data-scope="menu"][data-part="content"][data-state="open"] {
    animation: expand 200ms cubic-bezier(0, 0, 0.38, .7);
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
  }
  
[data-scope="menu"][data-part="content"][data-state="closed"] {
    animation: collapse 200ms cubic-bezier(0, 0, 0.38, .7);
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
  }