name: Deploy example report to GitHub Pages
on:
  push:
    branches: [ main ]

jobs:
  generate_example_report:
    name: Generate example report
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Generate report
        run: cargo run .examples/example-config.yaml --output example-report

      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: example-report
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Update example report to commit {sha}"
